@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://img.freepik.com/free-psd/group-portrait-adorable-puppies_53876-73977.jpg?w=826&t=st=1669006156~exp=1669006756~hmac=e2c985505f7a61f44a13e1b771116406cf3b1ede84abe2c6f39f13565f05910b");
    height: 100vh;
    background-size: cover;
}

.Tourism-card {
    text-align: center;
    background-color: white;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding: 5px;
}

.main-heading {
    color: red;
    font-family: Monospace;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.paragraph {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.button {
    height: 26px;
    width: 136px;
    background-color: #1d56db;
    color: white;
    border-radius: 25px;
    border-width: 0px;

}

.bg-container {
    background-image: url('https://as1.ftcdn.net/v2/jpg/01/53/97/96/1000_F_153979609_i6SGjTHQdBknuxRcgtnVvx8G1ezK9Xoi.jpg');
    background-size: cover;
    height: 100%;
}

.fav-pets-card-heading {
    font-family: roboto;
    font-size: 28px;
    color: white;
    font-weight: bold;
    padding: 24px;
}

.fav-pets-card-container {
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin: 15px;
}

.fav-pets-card-container-heading {
    color: #0f0e46;
    font-family: roboto;
    font-weight: bold;
    font-size: 23px;
}

.fav-pets-card-container-des {
    font-family: roboto;
    font-size: 13px;
    color: #6c6b70;
}

.fav-pets-card-image {
    width: 150px;
    height: 150px;
}